@use 'button';
@use 'variables';
@use 'utils';


$box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);

//Generalmente vamos a usar una funcion cuando queremos hacer operaciones matematicas para regresar un valor



*{
    @include utils.reset-pm;
    box-sizing: border-box;
}


body{
    background-color: variables.$primary-color;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: variables.$secondary-color;
    text-decoration: none;
}

h2{
    font-weight: bolder;
    font-size: utils.size(6);
}

h3{
    font-weight: lighter;
    font-size: utils.size(3);
}

//Aqui no pongo variable porque no quiero que el background color cambie, el del container
.container{
    background-color: white;
    margin: 100px auto;//los margenes izquierdo y derecho se ajustan automaticamente para centrar el elemento dentro del contenedor
    width: 1280px;
    padding: 50px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    background-image: url(../bg.jpg);
    background-size: 100% 100%;
}

ul {
    @include utils.reset-pm;
    list-style: none;
    display: flex;
    gap: 20px;
    li{
        a{
            @include button.btn($background-color: variables.$terciary-color,
                          $color:variables.$font-color, 
                          $bold: 'true');
            &:hover{
                @include button.btn(variables.$secondary-color, variables.$terciary-color, 'false');
                box-shadow:$box-shadow;
            }
            
        }
    }
}

header{
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.prices {
    .prev{
        font-size: utils.size(2);
        font-weight: bolder;
        $color: variables.$font-color;
        text-decoration: line-through;
    }

    .now{
        font-size: utils.size(5);
        font-weight: bolder;
    }
}





